@import "variables";
@import "components";
@import "functions";


header {
            border: 2px solid red;
            margin: 10px 0;
            nav {
                ul {
                    @include block-highlight($color: rgb(8, 8, 8));
                    $style: dotted;
                    li {
                        color: greenyellow;
                    }
                    li:first-child{
                        color: red;
                        font-size: 2rem;
                    }
                }
            }
        }

footer {
            @extend %generic-footer-style;
            font-size: 2rem;
        }

