* {
    box-sizing: border-box;
 }

 html {
    font-size: 20px;
 }
 

:root {
    --blue: hsl(234, 60%, 48%);
    --brown: hsl(0, 80%, 20%);
    --yellow:  hsl(56, 94%, 51%);
  }

.general-para-tag {
    color: red;
}
#general-para-tag {
    color: hsl(0, 80%, 20%);
}
.content-color{
    color: var(--brown);
}

.highlight-content {
    color: var(--blue);
    background-color: hsl(56, 94%, 51%);
}